<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<div class="container main-cont">
    <h1>Add a truck!</h1>
    <div th:if="${param.error}">
        Chowhound already knows this truck.
    </div>
    <form th:action="@{/trucks/create}" method="POST" th:object="${truck}">
        <div class="form-group">
<!--            <input type="number" hidden="hidden" th:value="${truck.id}" th:field="*{id}">-->
<!--            <label for="username"><strong>Truck's name:</strong></label>-->
            <input placeholder="Truck name" class="form-control" id="username" th:field="*{name}" required/>

<!--            <label for="description"><strong>Description:</strong></label>-->
            <textarea placeholder="Enter a little about the truck and the food served." class="form-control" id="description" type="text" th:field="*{description}" required></textarea>

            <label for="address">Where is the truck located?</label>
            <input placeholder="Street" class="form-control" type="text" id="address" th:field="*{address}" required>

<!--            <label for="city">City:</label>-->
            <input placeholder="City" class="form-control" type="text" id="city" th:field="*{city}" required>

<!--            <label for="state">State:</label>-->
            <input placeholder="State" class="form-control" type="text" maxlength="2" id="state" th:field="*{state}" required>

<!--            <label for="zip">Zipcode:</label>-->
            <input placeholder="Zipcode" class="form-control" type="number" maxlength="5" id="zip" th:field="*{zipCode}" required>

            <label for="phoneNumber">Phone Number:</label>
            <input placeholder="123-456-7890" type="tel" name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}">

            <label for="hours">Operating hours:</label>
            <input placeholder="Ex. 9:00AM-5:00PM" class="form-control" id="hours" type="text" th:field="*{hours}">

            <label for="cuisines">Choose cuisines:</label>
            <select name="cuisines" class="form-control selectpicker" id="cuisines" multiple required>

                <option th:each="option : ${cuisineOptions}" th:value="${option.id}"><span th:text="${option.category}" th:remove="tag"></span></option>

            </select>

            <label for="addCuisine">Add your own cuisine:</label>
            <input class="form-control" id="addCuisine" name="newCuisine" type="text">

            <label for="owner">Do you own this truck?</label>
            <input type="checkbox" id="owner" name="owner" value="true">
            <input id='ownerHidden' type='hidden' value='false' name='owner'>

            <br>
            <input value="Mark it dude!" type="submit"/>

        </div>
    </form>
    <br>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>