<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<div class="container main-cont">
    <h1>Add a truck!</h1>
    <div th:if="${param.error}">
        Chowhound already knows this truck.
    </div>
    <form th:action="@{/trucks/create}" method="POST" th:object="${truck}">
        <div class="form-group">
<!--            <input type="number" hidden="hidden" th:value="${truck.id}" th:field="*{id}">-->
            <label for="username"><strong>Truck's name:</strong></label>
            <input class="form-control" id="username" th:field="*{name}" required/>

            <label for="description"><strong>Truck's Description:</strong></label>
            <textarea class="form-control" id="description" type="text" th:field="*{description}" required></textarea>

            <label for="address">Truck's Street address:</label>
            <input class="form-control" type="text" id="address" th:field="*{address}" required>

            <label for="city">Truck's City:</label>
            <input class="form-control" type="text" id="city" th:field="*{city}" required>

            <label for="state">Truck's State:</label>
            <input class="form-control" type="text" id="state" th:field="*{state}" required>

            <label for="zip">Truck's Zipcode:</label>
            <input class="form-control" type="text" id="zip" th:field="*{zipCode}" required>

            <label for="hours">Truck's operating hours:</label>
            <textarea class="form-control" id="hours" type="text" th:field="*{hours}"></textarea>

            <label for="cuisines">Choose cuisines:</label>
            <select name="cuisines" class="form-control selectpicker" id="cuisines" multiple required>

                <option th:each="option : ${cuisineOptions}" th:value="${option.id}"><span th:text="${option.category}" th:remove="tag"></span></option>

            </select>

            <label for="addCuisine">Add your own cuisine:</label>
            <input class="form-control" id="addCuisine" name="newCuisine" type="text">

            <label for="owner">Do you own this truck?</label>
            <input type="checkbox" id="owner" name="owner" value="true">
            <input id='ownerHidden' type='hidden' value='false' name='owner'>

            <br>
            <input value="Mark it dude!" type="submit"/>

        </div>
    </form>
    <br>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>