<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace ="partials/partials :: head"></div>
    <title>Review a Truck</title>

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>


<div class="container main-cont my-3" id="reviewContainer">
    <h1>Bark About This Truck!</h1>
    <form th:action="@{'/reviews/' + ${truck.id} + '/addReview'}" method="post">
<!--        th:object="${review}"-->
        <label for="reviewText">Speak!</label>
        <textarea class="form-control" id="reviewText" name="reviewText" type="text" autofocus></textarea>
<!--        th:field="*{reviewText}"-->
        <select name="stars" id="stars">
            <option value="1">One Bone</option>
            <option value="2">Two Bones</option>
            <option value="3">Three Bones</option>
            <option value="4">Four Bones</option>
            <option value="5">Five Bones</option>
        </select>
<!--        <input type="hidden" name="datestamp" id="datestamp" value="<?php CURDATE(); ?>" th:field="*{datestamp}">-->
        <input type="submit" class="btn btn-sm btn-warning special">
    </form>
</div>


</body>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</html>