<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<div class="container main-cont">
    <h1>Change your truck's info!</h1>
    <div th:if="${param.error}">
        Chowhound already knows this truck.
    </div>
    <form th:action="@{'/trucks/' + ${truck.id} + '/edit'}" method="POST" th:object="${truck}">
        <div class="form-group">
            <input placeholder="Truck name" class="form-control" id="username" th:field="*{name}" required/>

            <textarea placeholder="Enter a little about the truck and the food served." class="form-control" id="description" type="text" th:field="*{description}" required></textarea>

            <label for="address">Where is the truck located?</label>
            <input placeholder="Street" class="form-control" type="text" id="address" th:field="*{address}" required>

            <input placeholder="City" class="form-control" type="text" id="city" th:field="*{city}" required>

            <input placeholder="State" class="form-control" type="text" maxlength="2" id="state" th:field="*{state}" required>

            <input placeholder="Zipcode" class="form-control" type="number" maxlength="5" id="zip" th:field="*{zipCode}" required>

            <label for="hours">Operating hours:</label>
            <input placeholder="Ex. 9:00AM-5:00PM" class="form-control" id="hours" type="text" th:field="*{hours}">

            <label for="cuisines">Choose cuisines:</label>
            <select name="cuisines" class="form-control selectpicker" id="cuisines" multiple required>

                <option th:each="option : ${cuisineOptions}" th:value="${option.id}">
                    <span th:text="${option.category}" th:remove="tag"></span></option>

            </select>

            <label for="addCuisine">Add your own cuisine:</label>
            <input class="form-control" id="addCuisine" placeholder="*Optional*" name="newCuisine" type="text">
            <label for="ownerPhoneNumber">Contact Info:</label>
            <input id="ownerPhoneNumber" class="form-control" placeholder="Phone Number" type="tel" th:field="*{phoneNumber}">
            <input id="ownerTwitterUrl"  class="form-control" placeholder="Twitter URL" type="url" th:field="*{twitter}">
            <input id="ownerFacebookUrl" class="form-control" placeholder="Facebook URL" type="url" th:field="*{facebook}">
            <input id="ownerInstagramUrl" class="form-control" placeholder="Instagram URL" type="url" th:field="*{instagram}">
            <input type="hidden" th:field="*{user}">
<!--            <input type="hidden" th:field="*{dateAdded}">-->

            <br>
            <div id="primaryImg">
                <div class="box">
                    <form id="pick-form">
                        <div class="field">
                            <div class="control">
                                <button class="btn btn-warning" type="button" id="picker">Change your primary picture</button>
                                <input type="hidden" id="fileupload">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="hidden" id="imageURL" name="imageURL">
            <br>
            <button class="btn btn-warning" type="submit">Groom your truck!</button>
            <button class="btn btn-warning btn-sm" style="color: white" type="submit"
                    formmethod="get"
                    th:formaction="'/posts/'+${truck.id}">Oops...Nevermind
            </button>
        </div>
    </form>
    <br>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>

</body>
</html>