<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Log In</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<div th:replace="partials/partials :: navbar"></div>

<div id="signInContainer">
    <h1 class="text-center">Log In</h1>
    <div class="text-center" th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div class="text-center" th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="signIn-page">
        <div class="form">
            <form th:action="@{/login}" method="post">
                <label for="username"><strong>Username</strong></label>
                <input id="username" name="username" type="text" autofocus/>
                <label for="password"><strong>Password</strong></label>
                <input id="password" name="password" type="password"/>
                <p>
                    <button type="submit" class="btn btn-warning">Log In</button>
                </p>
            </form>
            <div class="p-3">
                <p class="text-center">Not part of our pack? <a class="message" th:href="@{/register}">Register here</a></p>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>