<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
<br>
<div class="container main-cont">
    <h1>Create an account</h1>
    <div th:if="${param.error}">
        Username is already taken.
    </div>

    <form th:action="@{/register}" method="POST" th:object="${user}">
        <label for="username"><strong>Username</strong></label>
        <input id="username" th:field="*{username}" required/>
        <br>
        <label for="firstName"><strong>First Name</strong></label>
        <input id="firstName" th:field="*{firstName}" required/>
        <br>
        <label for="lastName"><strong>Last Name</strong></label>
        <input id="lastName" th:field="*{lastName}" required/>
        <br>
        <label for="email"><strong>Email</strong></label>
        <input id="email" th:field="*{email}" required/>
        <br>
        <label for="password"><strong>Password</strong></label>
        <input id="password" type="password" th:field="*{password}" required/>
        <br>
        <p><strong>REQUIRED</strong></p>

        <input id="register" value="Sign me up!" type="submit"/>

    </form>
    <br>
</div>
</body>
</html>