<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head"></div>
    <title>Update your profile</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<div id="updateContainer" class="container main-cont">
    <div class="form">
        <h1>Update email / password</h1>
        <form th:action="@{/update_profile}" method="POST" th:object="${user}">
            <!--        <label for="username">Username</label>-->
            <input type="hidden" id="username" th:field="*{username}"/>
            <input type="hidden" id="id" th:field="*{id}"/>
            <!--        <br>-->
            <label for="email">Email</label>
            <input id="email" th:value="${user.email}" th:field="*{email}"/>
            <br>
            <label for="password">Password</label>
            <input id="password" type="password" th:value="${user.password}" th:field="*{password}"/>
            <br>
            <div class="d-flex justify-content-around">
                <button class="btn btn-warning m-2 p-2 special"><a th:href="@{/index}"><-Back</a></button>
                <button class="btn btn-warning m-2 p-2" type="submit">Save changes!</button>
            </div>
        </form>
    </div>
</div>
</body>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</html>