.slideshow {
    position: relative;
    z-index: 1;
    height: 400px;
    max-width: 400px;
    margin: 50px auto;
}

.slideshow * {
    outline: none;
}

.slideshow .slider {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
}

.slideshow .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
}

.slideshow .item.slick-active img {
    transform: scale(1);
}

