@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*.wrapper {*/
/*    !*background-image: url("/images/chowhound-background.png");*!*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    !*background-size: cover;*!*/
/*    background-attachment: fixed;*/
/*    height: 100vh;*/
/*    object-fit: contain;*/
/*    position: relative;*/
/*    overscroll-behavior: none;*/
/*}*/

.bg {
    /*position: absolute;*/
    /*z-index: -1;*/
    /*background-image: url("/images/fastfood bg.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    background: rgb(255,255,255);
    background: linear-gradient(138deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 0%, rgba(255,237,0,1) 100%);
}

.bgImg{
    position: center;
    background-size: cover;
    opacity: .65;
}


.nav-logo {
    max-height: 100%;
    max-width: 73%;
}

.navbar-brand {
    max-height: 100%;
    max-width: 73%;
    background-size: auto;
}


image {
    opacity: 1;
}

.main-cont {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: #eee;
    /*opacity: .85;*/
    z-index: 0;
}

.height-100 {
    height:100%;
    }

.hidden {
    display: none;
}

/* Edit this if you want your <hr> to work */
/*hr {*/
/*    border-top: 1px dashed black;*/
/*}*/

/* Card styling */
#cardImageContainer {
    padding: 0;
}

.cardImageFixed {
    object-position: center;
    object-fit: cover;
    height: 15rem;
}

.card {
    border-bottom: 0;
    padding: 0;
}

.cardTitleAnchor {
    width: 100%;
}

.cardTitleContainer {
    margin: 5px 0;
}

.card-header {
    background: transparent;
    padding: 0;
    border-bottom: none;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.card, .card > .list-group:last-child .list-group-item:last-child {
    border-radius: 0;
}

.card-body {
    padding: 5px;
}

.listPadding {
    padding: 4px 0px;
}

.truck-card, .list-group-item {
    padding: 10px;
}

.list-group-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.height-125 {
    /*height: 125px;*/
}

.circleIcon {
    width: 9px;
    height: 8px;
}

li p {
    margin-bottom: 0;
}

.foodTypes {
    padding: 4px;
}


/* Registration  & SignIn */
#signUpContainer, #signInContainer {
    z-index: 1;
    background: lightgrey;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#signInContainer {
    margin-top: 10em;
}

#signUpContainer {
    margin-top: 5em;
}

.register-page, .signIn-page {
    position: relative;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form p {
    margin: 0;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: dodgerblue;
    font-size: 12px;
}

/* Truck page styling */
.truckImage {
    transition: transform .2s;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.truckImage:hover {
    transform: scale(1.5);
}

.reviews {
    border: grey 1px solid;
    max-height: 175px;
    overflow: scroll;
}


.favImg {
    height: 2rem;
    width: 2rem;
    z-index: 5;
    margin-left: auto;
}

.fa {
    font-size: 2rem;
    margin-left: 8px;
    margin-right: 8px;
    color: #5a6268;
}

.navbar{
    background: #f9f8fa;
}

#homeBody {
    opacity: 50;
}

/*<<<<<<< HEAD*/
/*=======*/
#homeBodyOverlay {
    background-color: rgba(200, 203, 207, .40);
    /*opacity: .25;*/
}

#droparrow{
    font-size: 1rem;
}

/*>>>>>>> 38325ce14be5a680f44025497929a096487ac161*/
