@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.signInWrapper {
    margin-top: 10%;
}

#addReviewButton, #favoriteButton {
    color: white;
}

/*footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

/*body {*/
/*    background-image: url("static/images/bgrough.png");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    z-index: -1;*/
/*}*/

#viewContainer, #reviewContainer, #createContainerBody {
    background: rgb(207,207,207);
}


#indexContainer {
    background-image: linear-gradient( 284deg, rgb(229, 203, 60) 53.7%, rgba(253,168,10,1) 88.9% );
}

h3.card-header, .card-titlecontainer {
    background: rgb(207,207,207);
}



textarea {
    background: #f2f2f2;
}

/*form {*/
/*    background: rgb(207,207,207) ;*/
/*}*/

.btn-secondary {
    border: 1px solid grey !important;

}

h1, h2, h3 {
    font-family: 'Bangers', cursive, bold;
    color: firebrick;
}

.main-cont a, footer a, nav a, .indexHeader h1, #logoutButton, .cuisinesRed {
   color: firebrick;
}

.main-cont a:hover, footer a:hover, nav a:hover, #logoutButton:hover, .cuisinesRed:hover {
    color: #ff1111;
    text-decoration: none;
}

/*<<<<<<< HEAD*/
/*=======*/

/*!*a {*!*/
/*!*    color: firebrick;*!*/
/*!*}*!*/

/*!*a:hover {*!*/
/*!*    color: #ff1111;*!*/
/*!*    text-decoration: none;*!*/
/*!*}*!*/

/*>>>>>>> ddeddbc48b318fd903b312476498bc97e134f6a2*/
.btn, .btn-warning {
    color: white;
}

.btn a {
    color: white;
}
.special {
    color: white !important;
}

.special:hover {
    color: black !important;
}
/*<<<<<<< HEAD*/

/*=======*/

/*!*#logoutButton {*!*/
/*!*    color:firebrick;*!*/
/*!*}*!*/

/*!*#logoutButton:hover {*!*/
/*!*    color: #ff1111;*!*/
/*!*    text-decoration: none;*!*/
/*!*}*!*/
/*!*.wrapper {*!*/
/*!*    !*background-image: url("/images/chowhound-background.png");*!*!*/
/*!*    background-repeat: no-repeat;*!*/
/*!*    background-position: center;*!*/
/*!*    !*background-size: cover;*!*!*/
/*!*    background-attachment: fixed;*!*/
/*!*    height: 100vh;*!*/
/*!*    object-fit: contain;*!*/
/*!*    position: relative;*!*/
/*!*    overscroll-behavior: none;*!*/
/*!*}*!*/

/*.bg {*/
/*    !*position: absolute;*!*/
/*    !*z-index: -1;*!*/
/*    !*background-size: cover;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-attachment: fixed;*!*/
/*    !*background: rgb(255,255,255);*!*/
/*    !*background: linear-gradient(138deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 0%, rgba(255,237,0,1) 100%);*!*/
/*}*/
/*>>>>>>> ddeddbc48b318fd903b312476498bc97e134f6a2*/

.bgImg{
    position: center;
    background-size: cover;
    opacity: .65;
    z-index: -10;
}


.nav-logo {
    max-height: 100%;
    max-width: 40%;
}

.navbar-brand {
    max-height: 100%;
    max-width: 100%;
    background-size: auto;
}


image {
    opacity: 1;
}

.main-cont {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: #eee;
    border: 1px solid black;
    /*opacity: .85;*/
}

.mainCardCont {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: rgb(207,207,207);
    border: 1px solid black;
    /*opacity: .85;*/
}

.height-100 {
    height:100%;
    }

.hidden {
    display: none;
}

/* Edit this if you want your <hr> to work */
/*hr {*/
/*    border-top: 1px dashed black;*/
/*}*/

/* Card styling */

#cardImageContainer {
    padding: 0;
}

.cardImageFixed {
    object-position: center;
    object-fit: cover;
    height: 15rem;
}

.card {
    padding: 0;
    margin-top: 14px;
}

.cardTitleAnchor {
    width: 100%;
    color: firebrick;
}

.cardTitleAnchor:hover {
    color: #ff1111;
    text-decoration: none;
}

#footer-nav a {
    width: 100%;
    color: firebrick;
}

#footer-nav a:hover {
    color: #ff1111;
    text-decoration: none;
}

.cardTitleContainer {
    margin: 5px 0;
}

.card-header {
    background: transparent;
    padding: 0;
    border-bottom: none;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.card, .card > .list-group:last-child .list-group-item:last-child {
    border-radius: 0;
}

.card-body {
    padding: 5px;
    background: rgba(0 0 0 1);
}

.listPadding {
    padding: 4px 0px;
}

.truck-card, .list-group-item {
    padding: 10px;
}

.list-group-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.height-125 {
    /*height: 125px;*/
}

.circleIcon {
    width: 9px;
    height: 8px;
}

li p {
    margin-bottom: 0;
}

.foodTypes {
    padding: 4px;
}


/* Registration  & SignIn */
#signUpContainer, #signInContainer, #updateContainer {
    z-index: 1;
    background: rgb(207,207,207);
    border-radius: 10px;
    width: 400px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*#signInContainer {*/
/*    margin-top: 10em;*/
/*}*/

/*#signUpContainer {*/
/*    margin-top: 5em;*/
/*}*/

.register-page, .signIn-page {
    position: relative;
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form p {
    margin: 0;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    /*background: #4CAF50;*/
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    /*background: #43A047;*/
}

.form .message {
    margin: 15px 0 0;
    color: firebrick;
    font-size: 12px;
}

/* Truck page styling */
.truckImage {
    transition: transform .2s;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.truckImage:hover {
    transform: scale(1.5);
}

.reviews {
    border: lightgray 1px solid;
    max-height: 40%;
    overflow: scroll;
    box-shadow: 0 0 5px #000000;
    background-color: #ffffff;
    width:75%;
}
.favImg {
    height: 2rem;
    width: 2rem;
    z-index: 5;
    margin-left: auto;
}

.fa {
    font-size: 2rem;
    margin-left: 8px;
    margin-right: 8px;
    color: #5a6268;
}

.navbar{
    /*background: rgb(207,207,207);*/
    background-image: linear-gradient( 284deg, rgb(229, 203, 60) 53.7%, rgba(253,168,10,1) 88.9% );
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#homeBody {
    opacity: 50;
}

/*<<<<<<< HEAD*/
/*=======*/
#homeBodyOverlay {
    background-color: rgba(200, 203, 207, .40);
    /*opacity: .25;*/
}

#droparrow{
    font-size: 1rem;
}

/*>>>>>>> 38325ce14be5a680f44025497929a096487ac161*/

#navbarSupportedContent {
    width: 500px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.singleReview{
    border-bottom: 1px solid gray;
    border-top:1px solid gray;
}

.bones {
    height: 3rem;
}
.bonesContainer {
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
}

#navBottom {
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1020;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#topNav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.width520 {
    max-width: 520px;
}

#updateContainer {
    margin-top: 12em;
}

.br10 {
    border-radius: 10px;
}

.brt20 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.bgTrans {
    background: none !important;
}

body {
    background-image: url("/images/bg-there-is-no-final.png");
    height: 100vh;
}

input {
    margin-bottom: 4px;
}

#description {
    /*margin-bottom: 4px;*/
    height: 132px;
}

textarea{
    margin-bottom: 4px;
}

#reviewText {
    height: 132px;
}

.revSub {
    width: 100%;
}
