body {
    /*background-image: url("/images/images.jpeg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    object-fit: contain;
    position: relative;
    overscroll-behavior: none;
}
.container{
    margin-top: 1em;

}
image {
    opacity: 1;
}

.main-cont{
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: #eee;
    opacity: .85;
}

/*.navbar {*/
/*    background: #ED1B24;*/
/*}*/

/*.list-group-flush{*/
/*    background: #FFFFEE;*/
/*}*/

/*.card{*/
/*    background: #FF8D4A;*/
/*}*/