<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chow Hound - About Us</title>
    <div th:replace="partials/partials :: head"></div>

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<div class="bg">
    <div class="container main-cont text-center mb-3" id="teamContainer">
        <br>
        <h1 class="teamHeader">The Chow Hound Development Team</h1>
        <br>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/Austin%20.jpg" alt="austin">
            <div class="card-body">
                <h5 class="card-title">Austin Gray</h5>
                    <div class="card-body">
                        <a href="#" class="card-link">Email</a>
                        <a href="#" class="card-link">Github</a>
                        <a href="#" class="card-link">Codeup Alumni Page</a>
                    </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/JoshuaM%20.jpg" alt="josh">
            <div class="card-body">
                <h5 class="card-title">Joshua Marchand</h5>
                <div class="card-body">
                    <a href="#" class="card-link">Email</a>
                    <a href="#" class="card-link">Github</a>
                    <a href="#" class="card-link">Codeup Alumni Page</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/Bryce%20.jpg" alt="bryce">
            <div class="card-body">
                <h5 class="card-title">Bryce Payne</h5>
                <div class="card-body">
                    <a href="#" class="card-link">Email</a>
                    <a href="#" class="card-link">Github</a>
                    <a href="#" class="card-link">Codeup Alumni Portal</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/jeff.jpg" alt="jeff">
            <div class="card-body">
                <h5 class="card-title">Jeff Walton</h5>
                <div class="card-body">
                    <a href="#" class="card-link">Email</a>
                    <a href="#" class="card-link">Github</a>
                    <a href="#" class="card-link">Codeup Alumni Portal</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="partials/partials :: footer"></footer>
</html>