<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h3>Testing out upload image feature</h3>
<div id="imageUploadTest">

</div>
<br>
<br>

<div class="container-fluid">
    <div class="box">
        <form id="pick-form">
            <div class="field">
                <div class="control">
                    <button class="button" type="button" id="picker">Pick file</button>
                    <input type="hidden" id="fileupload">
                </div>
<!--                <div class="control" id="nameBox"></div>-->
<!--                <div class="control" id="urlBox"></div>-->
            </div>
<!--            <div class="field">-->
<!--                <div class="control">-->
<!--                    <input id="uploadPicture" class="button" type="submit" value="Submit">-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
</div>


<br>
<br>

<button id="appendNewCard">Click me to make a new card</button>

<main>
    <div id="cardContainer" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="truckCards" class="row">
                    <!-- Cards being appended here -->
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Bootstrap Styling -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="../static/css/home_dev.css">
<!-- Jquery -->
<script src="../static/js/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<!-- Filestack picker -->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!-- API Keys -->
<script src="../keys/APIKeys.js"></script>
<!-- Filestack Javascript -->
<script src="../static/js/home_dev.js"></script>


</body>
</html>