<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>

<nav th:replace="partials/partials :: navbar"></nav>

<div class="container main-cont text-center">
    <br>
    <h2>Lets sniff out some trucks!</h2>
    <form action="">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sortType" th>
            <option value="rating_d" selected>Rating High-Low</option>
            <option value="rating_a">Rating Low-High</option>
            <option value="name_a">Name A-Z</option>
            <option value="name_d">Name Z-A</option>
        </select>
        <!--        <input type="hidden" th:value="*{trucks}" name="trucks">-->
        <!--        <input id="searchSubmit" type="submit">-->
    </form>
    <hr>
</div>

<!--<div class="col-12"></div>-->

<div class="row container align-center col-12 col-xl-8">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 truck-card" th:each="truck : ${trucks}">
        <div th:text="${truck.averageReviewRating}"></div>
        <div class="card container main-cont" style="max-width: 18rem;">
            <!--            <img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
                <h5 class="card-title"><a th:text="${truck.name}" th:href="@{'/trucks/'+ ${truck.id}}"></a></h5>
                <div class="d-inline-block text-wrap text-truncate"
                     style="max-width: 100%; max-height: 6em; text-overflow: ellipsis"
                     th:utext="${truck.description}"></div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p th:text="${truck.hours}"></p></li>
                <li class="list-group-item"><p th:text="${truck.address}"></p></li>

                <li class="list-group-item">
                    <p> Featured Cuisines:</p>
                    <p th:each="cuisine : ${truck.getCuisines()}" th:text="${cuisine.category}"></p>
                </li>


                <li class="list-group-item">

                    <p>average rating: <!--/*@thymesVar id="reviews" type="java.util.List"*/-->
                        <span class="rating" th:text="${truck.getAverageReviewRating()}"> </span></p>

                </li>


            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/partials :: footer"></footer>
<script>

    $(document).ready(function () {

        $("#sort").change(function (evt) {

            let sortValue = evt.target.value;

            switch (sortValue) {
                case "rating_a":

                    let truckCards = [...document.getElementsByClassName("truck-card")];
                    // console.log(truckCards);

                    truckCards.getElementsByClassName("rating").sort((a, b) => a[0] < b[0] ? 1 : -1);
                    console.log(truckCards.getElementsByClassName("rating").val());
                    // console.log(truckCards);
                    break;


            }

        })
        // let sortSelect = document.getElementById("sort");
        // sortSelect.onchange(handleChange);
        //
        // console.log(sortSelect);
        //
        // function handleChange(evt) {
        //     console.log(evt.target.value);
        //
        // }
    });
    // $("#sort").onchange(function (e) {
    //     // e.preventDefault();
    //     var searchTerm = window.location.href;
    //     // alert(searchTerm);
    //     var sortType = "&sortType=" + $('#sort').val();
    //     // alert(sortType)
    //     var redirectComp = searchTerm + sortType;
    //     alert(redirectComp);
    //     window.location.href = redirectComp;
    // })
</script>
</body>
</html>