<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>

<nav th:replace="partials/partials :: navbar"></nav>

<div class="container main-cont">
    <br>
    <h2>Lets sniff out some trucks!</h2>
    <hr>
</div>
<div class="row container align-center">
    <div class="col-sm-4" th:each="truck : ${trucks}">
        <div class="card container main-cont" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a th:text="${truck.name}" th:href="@{'/trucks/'+ ${truck.id}}"></a></h5>
                <div class="d-inline-block text-wrap text-truncate"
                     style="max-width: 100%; max-height: 6em; text-overflow: ellipsis"
                     th:utext="${truck.description}"></div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p th:text="${truck.hours}"></p></li>
                <li class="list-group-item"><p th:text="${truck.address}"></p></li>
                <li th:each="cuisine : ${truck.getCuisines()}"><p th:text="${cuisine.description}"></p></li>


                <li class="list-group-item">

                    <p>average rating: <!--/*@thymesVar id="reviews" type="java.util.List"*/-->
                        <span th:text="${truck.getAverageReviewRating()}"> </span></p>

                </li>


            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <!--        <a href="#" class="card-link">Another link</a>-->
            </div>
        </div>
    </div>
</div>
<!--<div th:each="truck : ${trucks}">-->
<!--    <form>-->
<!--        <h3><a th:text="${truck.name}" th:href="@{'/trucks/'+ ${truck.id}}"></a></h3>-->
<!--        &lt;!&ndash;        <p><span th:="${truck.body}"></span></p>&ndash;&gt;-->
<!--        <div class="d-inline-block text-wrap text-truncate"-->
<!--             style="max-width: 100%; max-height: 6em; text-overflow: ellipsis" th:utext="${truck.description}"></div>-->

<!--    </form>-->
<!--    <br>-->
<!--</div>-->


<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>