<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chowhound trucks</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<div class="container main-cont text-center">
    <br>
    <h2>Lets sniff out some trucks!</h2>
    <form action="">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sortType">
            <option value="rating_d" selected>Rating High-Low</option>
            <option value="rating_a">Rating Low-High</option>
            <option value="name_a">Name A-Z</option>
            <option value="name_d">Name Z-A</option>
        </select>
        <input type="hidden" name="searchTerm" th:value="${searchTerm}">
        <input id="searchSubmit" type="submit">
    </form>
    <hr/>
</div>


<div class="container align-items-center overflow-auto">
    <div class="row text-center">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 truck-card" th:each="truck : ${trucks}">
            <div class="card">
                <div class="card-img-top">
                    <div th:id="'carouselControls' + ${truck.id}" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" th:if="${image.isPrimary() == true}"
                                 th:each="image : ${truck.images}">
                                <img class="d-block w-100 maxSize" th:src="${image.path}" alt="Image">
                            </div>
                            <div class="carousel-item" th:unless="${image.isPrimary() == true}"
                                 th:each="image : ${truck.images}">
                                <img class="d-block max w-100 imgSize" th:src="${image.path}" alt="Image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" th:href="'#carouselControls' + ${truck.id}" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="'#carouselControls' + ${truck.id}" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <!-- Card details below carousel -->
                <!-- Truck Name -->
                <div class="card-body">
                    <h5 class="card-title"><a th:text="${truck.name}" th:href="@{'/trucks/' + ${truck.id}}"></a>
                    </h5>
                    <p class="card-text text-left"><span>Description: </span><span
                            th:utext="${truck.description}"></span></p>
                </div>
                <!-- Truck food type handling -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="text-center">Cuisines</p>
                        <p class="text-left" th:each="cuisine : ${truck.getCuisines()}"
                           th:text="${cuisine.category}"></p>
                    </li>
                    <li class="list-group-item">
                        <p><span class="text-left">Food Rating: </span>
                            <span class="rating text-left" th:text="${truck.getAverageReviewRating()}"></span>
                            <span class="text-left"> (put icon here)</span>
                        </p>
                    </li>
                </ul>
                <!-- truck info handling -->

                <button type="button" class="btn btn-info" data-toggle="modal"
                        th:data-target="'#truckModal' + ${truck.id}">
                    <span>Contact </span><span th:text="${truck.name}"></span>
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="'truckModal' + ${truck.id}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span><h4 class="text-left">[[${truck.name}]]</h4></span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <h5>Address</h5>
                                    <li class="list-group-item">

                                        <p th:text="${truck.address}"></p>
                                        <p>
                                            <span th:text="${truck.city}"></span><span>, </span>
                                            <span th:text="${truck.state}"></span><span>  </span>
                                            <span th:text="${truck.zipCode}"></span>
                                        </p>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <strong>Hours</strong>
                                    </div>
                                    <div class="col-6 text-center">
                                        <strong>Phone</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-center">
                                        [[${truck.hours}]]
                                    </div>
                                    <div class="col-6 text-center">
                                        [[${truck.phoneNumber}]]
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>